body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.headder{
width: 100%;
height: 60px;
background: #FAFF00;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: baseline;
}
.logo
{
    /* border: 2px solid red; */
    flex-grow: 2;
    height: 100%;
}
.navbar{
    /* border: 2px solid black; */
    flex-grow: 3;
    height: 100%;
}
.main{
    margin: 0px;
    padding-bottom: 20px;
    background-color:rgba(39, 59, 74, 1);
    height: auto;
}
.box1{
     background-color: #FFF8FE;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     border-radius: 10px;
     padding: 20px;
     padding-bottom: 30px;
     
}
.bx1{
    position: relative;
    /* border: 2px solid red; */
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
.bx2{
    /* border: 2px solid rgb(21, 255, 0); */
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 27px;
color: #FFA500;
}
.bx2 span{
    color: #4F4F4F;
}
.bx3{
    /* border: 2px solid rgb(45, 12, 12); */
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bx4{
    /* border: 2px solid rgb(0, 94, 255); */
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 19px;
padding-left: 0px;
}
.bx4 ul{
    padding-left: 20px;
}
#FED span{
    color: #BD00FF;
}
#UX{
    color: #FF008A;
}
#AI {
    color: #FF0000;
}
.bx5{
    /* border: 2px solid rgb(255, 174, 0); */
    display: flex;
    justify-content: end;
}
#mcl{
    position: relative;
    top: 10px;
    left: 5px;
}
.bx6{
    /* border: 2px solid forestgreen; */
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
padding-top: 20px;
}
#c4400FF {color: #4400FF;}
#c00DF30{color: #00DF30;}
.box2{
     width: 80%;
     background-color: #C4FDFF;
     /* height: 240px; */
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     border-radius: 10px;
     padding: 20px 20px 30px;
}
.bo1{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
padding-top: 35px;
}
.bo2{
    /* border: 2px solid rgb(0, 255, 115); */
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.box2 hr{
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin-bottom: 0px;
}
.bo3{
    /* border: 2px solid rgb(68, 0, 255); */
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-align: center;
margin: 0px;
}
